/* Resetear padding y margin para todos los elementos */
* {
  padding: 0;
  margin: 0;
}

/* Estilos para el header */
header {
  padding-bottom: 30px; /* Ajusta el espacio inferior del header */
}

body {
  background-color: whitesmoke; /* Color de fondo del cuerpo */
}

header img {
  width: 250px; /* Ancho de la imagen en el header */
  height: auto; /* Mantiene la proporción de la imagen */
}

.custom-nav {
  background-color: #325aab !important; /* Color de fondo del nav personalizado */
}

.custom-text {
  font-weight: bold; /* Texto en negrita */
}

/* Estilos para el título principal */
.titulo-principal {
  text-align: center; /* Centra el texto horizontalmente */
  margin: 20px 0; /* Margen superior e inferior */
  font-size: 2.5em; /* Tamaño de la fuente */
  font-weight: bold; /* Texto en negrita */
  color: #333; /* Color del texto */
}

/* Color de fondo de la sección principal */
main {
  background-color: whitesmoke;
}

/* Fuente para h1, h2, p y a */
h1,
h2,
p,
a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Estilos para el div de banner */
.banner {
  position: relative; /* Posicionamiento relativo */
  width: 80%; /* Ancho del banner */
  max-width: 1500px; /* Ancho máximo del banner */
  margin: 20px auto; /* Centra el banner con márgenes superior e inferior */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra del banner */
  padding: 0; /* Sin padding */
  border-radius: 20px; /* Bordes redondeados */
}

.banner img {
  border-radius: 20px; /* Bordes redondeados de la imagen */
  width: 100%; /* La imagen ocupa todo el ancho del banner */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Elimina el espacio en blanco debajo de la imagen */
}

/* Ajustes de padding para el banner en vistas pequeñas */
@media (max-width: 768px) {
  .banner {
    width: 90%; /* Ancho del banner en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .banner {
    width: 95%; /* Ancho del banner en pantallas muy pequeñas */
  }
}

/* Estilos para la sección principal */
.main-seccion {
  padding: 20px;
  text-align: center; /* Centra el texto dentro de la sección principal */
}

/* Estilos para la sección de historias */
.story-section {
  padding: 20px;
  margin-top: 20px;
}

.story-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas grandes */
  gap: 20px; /* Espacio entre los elementos */
}

.story-item {
  background: whitesmoke; /* Fondo de los elementos */
  margin: 20px 0;
  border: 1px solid #ddd; /* Borde para visualización */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Centra el texto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del elemento */
}

.story-img {
  width: 100%;
  height: 600px;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
  border-radius: 10px; /* Bordes redondeados */
}

.story-item h2 {
  font-size: 1.5em;
  margin: 20px 0 30px; /* Margen superior, entre y debajo del h2 */
}

.story-item p {
  font-size: 1.2em;
  line-height: 1.6; /* Altura de línea */
  text-align: justify; /* Justifica el texto */
  margin: 10px 0; /* Margen superior e inferior del párrafo */
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .story-grid {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }

  .story-img {
    height: 400px; /* Altura de la imagen en pantallas pequeñas */
  }

  .story-item h2 {
    font-size: 1.3em;
  }

  .story-item p {
    font-size: 1em;
  }
}

@media (max-width: 400px) {
  .story-img {
    height: 300px; /* Altura de la imagen en pantallas muy pequeñas */
  }

  .story-item h2 {
    font-size: 1.2em;
  }

  .story-item p {
    font-size: 0.9em;
  }
}

/* Estilos para la sección de videos de gameplay */
.gameplay-video {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  padding: 20px;
  text-align: center;
}

.gameplay-video h2 {
  margin-bottom: 15px; /* Espacio entre el título y el párrafo */
  font-size: 36px; /* Tamaño de fuente para pantallas grandes */
}

.gameplay-video p {
  margin-bottom: 30px; /* Espacio entre el párrafo y el video */
  font-size: 18px; /* Tamaño de fuente para pantallas grandes */
  max-width: 900px; /* Ancho máximo del párrafo */
}

.gameplay-video iframe {
  width: 100%;
  max-width: 800px; /* Tamaño máximo del video en pantallas grandes */
  height: auto;
  aspect-ratio: 16 / 9; /* Mantiene la proporción del video */
}

/* Ajustes adicionales para pantallas más grandes */
@media (min-width: 1024px) {
  .gameplay-video h2 {
    font-size: 48px; /* Tamaño de fuente aún más grande para pantallas muy grandes */
  }

  .gameplay-video p {
    font-size: 20px; /* Tamaño de fuente para pantallas grandes */
  }
}

/* Estilos para el footer */
footer {
  display: flex; /* Usa Flexbox para el layout del footer */
  flex-direction: column; /* Coloca los elementos en una columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente (opcional) */
  background-color: #325aab; /* Color de fondo del footer */
  padding: 20px; /* Espaciado interno del footer */
  text-align: center; /* Centra el texto y los elementos en el footer */
  border-top: 1px solid #ddd; /* Línea superior sutil para separar el footer del contenido */
}

.footer-logo {
  width: 80px; /* Tamaño reducido del logo */
  height: auto; /* Mantiene la proporción del logo */
  margin-bottom: 15px; /* Espacio debajo del logo */
}

.footer-text {
  margin: 10px 0; /* Espacio arriba y abajo del texto */
  color: whitesmoke; /* Color del texto */
  font-size: 1.3em; /* Tamaño de la fuente del texto */
}

.iconos-redes {
  display: flex; /* Usa Flexbox para alinear los íconos sociales */
  justify-content: center; /* Centra los íconos horizontalmente */
  margin-top: 15px; /* Espacio arriba de los íconos de redes sociales */
}

.social-icon {
  width: 100px; /* Tamaño de los íconos sociales */
  height: auto; /* Mantiene la proporción de los íconos */
  margin: 0 15px; /* Espacio entre los íconos */
}

@media (max-width: 768px) {
  .social-icon {
    width: 70px; /* Ajuste del tamaño de los íconos en pantallas pequeñas */
  }
}

/* Estilos para la sección de personajes */
.personajes {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
}

.seleccion-personajes {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  gap: 10px; /* Espacio entre los elementos */
  justify-content: center; /* Centra los elementos horizontalmente */
  margin-bottom: 20px; /* Espacio inferior */
}

.seleccion-personajes a img {
  width: 500px;
  height: 500px;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
  border-radius: 10%; /* Bordes redondeados */
  transition: transform 0.3s; /* Transición suave para hover */
}

.seleccion-personajes a img:hover {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al hacer hover */
}

/* Estilos para los detalles de personajes */
.detalles-personajes {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre los elementos */
  width: 80%;
  margin: 0 auto; /* Centra la sección horizontalmente */
}

.personaje-detalle {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: none;
}

.personaje-detalle h2 {
  margin-top: 0; /* Sin margen superior */
}

.imagenes {
  display: flex;
  gap: 10px; /* Espacio entre las imágenes */
  justify-content: center; /* Centra las imágenes horizontalmente */
  flex-wrap: wrap; /* Permite que las imágenes se envuelvan */
}

.imagenes img {
  max-width: 45%;
  height: auto;
  border-radius: 10px; /* Bordes redondeados */
}

.personaje-detalle p {
  text-align: justify; /* Justifica el texto */
}

.habilidades {
  margin-top: 20px; /* Espacio superior */
}

.habilidades h3 {
  margin-bottom: 10px; /* Espacio inferior */
}

.habilidades img {
  display: block; /* Muestra la imagen como bloque */
  max-width: 100%;
  height: auto;
  margin: 0 auto 20px auto; /* Centra la imagen y agrega espacio inferior */
}

.habilidades ul {
  list-style-type: none; /* Sin estilo de lista */
  padding: 0; /* Sin padding */
}

.habilidades li {
  margin-bottom: 10px; /* Espacio inferior entre elementos de la lista */
}

.personaje-detalle a {
  display: inline-block; /* Muestra el enlace como bloque en línea */
  margin-top: 20px; /* Espacio superior */
  color: #007bff; /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
  transition: color 0.3s; /* Transición suave para hover */
}

.personaje-detalle a:hover {
  color: #0056b3; /* Color del enlace al hacer hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .imagenes img {
    max-width: 100%; /* Ancho máximo de las imágenes en pantallas pequeñas */
  }

  .personaje-detalle p {
    text-align: justify; /* Justifica el texto */
  }
}

/* Ajustes generales para la clase personajes */
@media (max-width: 400px) {
  .personajes {
    padding: 10px;
  }
}

/* Ajustes específicos para la selección de personajes */
@media (max-width: 400px) {
  .seleccion-personajes {
    flex-direction: column;
    gap: 10px;
  }

  .seleccion-personajes a img {
    width: 100%;
    height: auto;
  }
}

/* Ajustes específicos para los detalles de personajes */
@media (max-width: 400px) {
  .detalles-personajes {
    width: 100%;
    padding: 10px;
  }
}


.galeria {
  display: grid;
  gap: 10px;
  padding: 20px;
}

/* Vista de escritorio */
@media (min-width: 401px) {
  .galeria {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

/* Vista móvil */
@media (max-width: 400px) {
  .galeria {
    grid-template-columns: 1fr;
  }
}

.galeria img {
  width: 100%;
  height: 300px; /* Fija una altura */
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
  display: block;
  border-radius: 8px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.secret-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.secret-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.secret-card img {
  width: 100%;
  height: auto;
}

.secret-card h3 {
  padding: 15px;
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

.secret-card p {
  padding: 15px;
  margin: 0;
  text-align: justify;
}

/* Estilos responsivos */
@media (min-width: 401px) {
  .secret-card {
    max-width: 500px; /* Ajuste el tamaño máximo para la vista de escritorio */
  }
}

@media (max-width: 400px) {
  .secret-card {
    max-width: 100%;
  }
}

body.comunidad {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.titulo-comunidad {
  text-align: center;
  margin: 20px 20px;
  padding: 5px 5px;
}

.comunidad-main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.welcome-section, .join-section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.welcome-section img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.join-section .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.join-section a {
  text-align: center;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.join-section a:hover {
  background-color: #0056b3;
}

/* Estilos responsivos */
@media (min-width: 401px) {
  .join-section .links {
    flex-direction: row;
    justify-content: space-around;
  }
}
